<mat-card class="m-2">
    <div class="p-5">
        <div class="row">
            <mat-form-field class="col-12 p-2">
                <input matInput placeholder="Name" [(ngModel)]="character.name">
            </mat-form-field>
            <div class="col-12 p-2 mt-3">
                <h3>Select a colour</h3>
                <input style="cursor:pointer;height:100px;width:100px;border: 1px solid black; border-radius: 10px;"
                    matInput [(colorPicker)]="character.colour" [style.background]="character.colour" />
            </div>
        </div>
        <div *ngIf="games && games.length>0 && character && character.name && character.colour" class="p-2 mt-3">
            <h3>Available Games</h3>
            <div class="list" class="m-1">
                <div class="game-option m-1 p-2" *ngFor="let g of games" [ngClass]="{'selected':g==game}" (click)="game=g">
                    {{g._id}}
                </div>
            </div>
        </div>
        <div class="row p-2 mt-3">
            <button class="m-1" mat-raised-button color="primary" [disabled]="!game||!game._id"
                (click)="joinGame()"><mat-icon>play_for_work</mat-icon> Join Existing</button>
            <button class="m-1" mat-raised-button color="accent"
                [disabled]="!character||!character.name||!character.colour" (click)="createGame()"><mat-icon>add</mat-icon>Create New
                Game</button>
            <button class="m-1" mat-raised-button color="accent"
                [disabled]="!character||!character.name||!character.colour" (click)="offlineGame()"><mat-icon>cloud_off</mat-icon> Play Offline</button>
        </div>
    </div>
</mat-card>