@import '../../../../assets/styles/variables.less';

:host{

    .game-option {
        font-size: large;
        font-weight: 500;
        color: @primary-color;
        text-align: left;
    }

    .game-option:hover {
        cursor: pointer;
    }

    .selected {
        color: @accent-color;
        background: @primary-color;
        border-radius: 10px;
        box-shadow: 0 0 8px 1px @accent-color;
    }

    .list {
        display:flex;
        flex-direction: column;
    }
}