:host {
    margin: 0 !important;
    padding: 0 !important;

    #renderCanvas {
        height:100%;
        width:100%;
    }

    .mobile-controls {
        visibility: hidden;
        display:inline-flex;
        position: fixed;
        right:20px;
        bottom: 20px;
        flex-direction: column;
        z-index: 2;

        @media only screen and (max-width: 1023px) {
            visibility: visible;
        }

        .up {
            margin-left: auto;
            margin-right: auto;
        }

        .middle {
            display:inline-flex;
            flex-direction: row;

            .left {
                margin-left: auto;
                margin-right: 40px;
            }
            .right {
                margin-right: auto;
                margin-left: 40px;
            }
        }

        .down {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .mobile-button {
        display: inline-flex;
        width:80px;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.15);
        color: black;
        border-radius: 50%;
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;

        .icon {
            margin:auto;
        }
    }
}