<app-game-initial-menu *ngIf="!gameReady" (triggerReady)="onReady($event)"></app-game-initial-menu>
<canvas id='renderCanvas'></canvas>
<div *ngIf="!!gameReady" class="mobile-controls">
    <div class="mobile-button up" (touchstart)="controlsService.moveHold('forward')" (touchend)="controlsService.moveRelease('forward')"  (touchcancel)="controlsService.moveRelease('forward')"><mat-icon class="icon">keyboard_arrow_up</mat-icon></div>
    <div class="middle">
        <div class="mobile-button left"  (touchstart)="controlsService.moveHold('left')" (touchend)="controlsService.moveRelease('left')"  (touchcancel)="controlsService.moveRelease('left')"><mat-icon class="icon">keyboard_arrow_left</mat-icon></div>
        <div class="mobile-button right" (touchstart)="controlsService.moveHold('right')" (touchend)="controlsService.moveRelease('right')"  (touchcancel)="controlsService.moveRelease('right')"><mat-icon class="icon">keyboard_arrow_right</mat-icon></div></div>
    <div class="mobile-button down" (touchstart)="controlsService.moveHold('backward')" (touchend)="controlsService.moveRelease('backward')"  (touchcancel)="controlsService.moveRelease('backward')"><mat-icon class="icon">keyboard_arrow_down</mat-icon></div>
</div>

