@import '../assets/styles/variables.less';

:host {
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

    .main {
        height:100%;
        width:100%;

        .nav-menu-button {
            position: relative;
            background-color: @primary-color;
            color:@accent-color;
            font-size: 30px;
            width:30px;
            height:30px;
    
            &:hover {
                cursor: pointer;
            }
        }

        .side-nav {
            background-color: @primary-color;
            color: @text-primary;
            padding: 10px;
        }
    }

    .menu-button {
        position: absolute;
        z-index: 99;
        top: 10px;
        left: 10px;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.1), 2px 4px 8px rgba(0,0,0,0.06);
        background-color: @primary-color;
        border: solid 1px @accent-color;
        color:@accent-color;
        font-size: 60px;
        width:60px;
        height:60px;
        border-radius: 10px;
        opacity: 0.8;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 6px lighten(@accent-color, 0.1), 0px 0px 8px lighten(@accent-color, 0.2);
        }
    }
}