<mat-icon *ngIf="!sidebar.opened" (click)="toggleNav(sidebar)" class="menu-button">menu</mat-icon>
<mat-sidenav-container class="main">
    <mat-sidenav #sidebar mode="side" class="side-nav" opened >
        <mat-icon (click)="toggleNav(sidebar)" class="nav-menu-button">menu</mat-icon>
        <app-sidenav-content></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>