<div class="row h-100 w-100 p-2">
    <div class="content-card">
        <div class="card-header">Get Ready to rock and roll</div>
        <div class="pt-3 pb-3"><img class="card-img" src="./assets/images/projectGame.jpg"/></div>
        <a class="card-btn" [routerLink]="['game']"><div class="content"><mat-icon class="icon mr-2">videogame_asset</mat-icon><div>Enter Game</div></div></a>
    </div>
</div>
