@import '../../../../assets/styles/variables.less';

:host{
    display: inline-block;
    align-content: flex-start;
    height:100%;
    width:100%;
    background-image: url('../../../../assets/images/bg.jpg');

    .content-card {
        display:inline-flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px;
        margin:auto;

        .card-header {
            font-size: xx-large;
            font-weight: 400 !important;
            text-align: center;
            background-color: @primary-color;
            color: white;
            border-bottom: solid 1px @accent-color;
            padding: 20px;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.13);

            @media only screen and (max-width: 1000px) {
                font-size: large;
            }
        }
        .card-img {
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.13);
        }
        .card-btn {
            border-top: solid 1px @accent-color;
            display:inline-flex;
            text-decoration: none;
            color:white;
            background-color: @primary-color;
            padding: 20px;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.13);

            .content {
                margin: auto;
                display: inline-flex;
                flex-direction: row;
            }

            &:hover {
                text-decoration: none;
                cursor: pointer;
                color: @accent-color;
                box-shadow: 0px 0px 6px lighten(@accent-color, 20%), 0px 0px 8px lighten(@accent-color, 20%);
            }
        }
    }
}