:host{
    /deep/ .action-card-green {
        font-size:large;
        background-color: rgba(40,160,50,0.9);
        color:rgb(255, 255, 255,0.8);
        cursor: pointer;
    }

    /deep/ .action-card-red {
        font-size:large;
        background-color: rgba(180,50,40,0.9);
        color:rgb(255, 255, 255,0.8);
        cursor: pointer;
    }

    /deep/ .submit-button {
        background-color: rgba(40,160,50,1);
        color:rgb(255, 255, 255,0.8);
    }

    .center-icon-text {
        display: inline-flex;
        vertical-align: middle;
    }

    .close {
        color: rgb(220, 0, 0);
    }
}