<div class="m-2" *ngIf="hasLoaded">
    <mat-card class="action-card-green" *ngIf="!hasAddedCharacter" (click)="togglehasAddedCharacter()">
        <div class="center-icon-text"><mat-icon>add</mat-icon><span>Add character</span></div>
    </mat-card>
    <mat-card class="action-card-red" *ngIf="hasAddedCharacter" (click)="togglehasAddedCharacter()">
        <div class="center-icon-text"><mat-icon>close</mat-icon><span>Cancel</span></div>
    </mat-card>
    <mat-card [@openClosed]="hasAddedCharacter?'open':'closed'" class="action-card cancel">
        <form class="create-form" [formGroup]="characterForm" novalidate (ngSubmit)="onSubmit(characterForm.value)">
        <div class="row">
            <div class="form-group col-lg-6">
                <mat-form-field class="col-lg-12">
                <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages?.firstName">
                <mat-error *ngIf="characterForm.get('firstName').hasError(validation.type) && (characterForm.get('firstName').dirty || characterForm.get('firstName').touched)">{{validation}}</mat-error>
                </ng-container>
            </div>

            <div class="form-group col-lg-6">
                <mat-form-field  class="col-lg-12">
                <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages?.lastName">
                <mat-error *ngIf="characterForm.get('lastName').hasError(validation.type) && (characterForm.get('lastName').dirty || characterForm.get('lastName').touched)">{{validation}}</mat-error>
                </ng-container>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <mat-form-field class="col-lg-12">
                <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages?.email">
                <mat-error *ngIf="characterForm.get('email').hasError(validation.type) && (characterForm.get('email').dirty || characterForm.get('email').touched)">{{validation}}</mat-error>
                </ng-container>
            </div>

            <div class="form-group col-lg-6">
                <mat-form-field class="col-lg-12">
                <input matInput placeholder="Region" formControlName="region">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages?.region">
                <mat-error *ngIf="characterForm.get('region').hasError(validation.type) && (characterForm.get('region').dirty || characterForm.get('region').touched)">{{validation}}</mat-error>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <mat-form-field class="col-lg-12">
                <textarea matInput rows="5" placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages?.description">
                <mat-error *ngIf="characterForm.get('description').hasError(validation.type) && (characterForm.get('description').dirty || characterForm.get('description').touched)">{{validation}}</mat-error>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-inline-flex">
            <button mat-raised-button class="submit-button col-3 m-auto" color="primary" type="submit" [disabled]="!characterForm.valid">Create</button>
            </div>
        </div>

        </form>
    </mat-card>

    <mat-card class="m-1" *ngFor="let user of allUsers">
        <button mat-button matTooltip="Delete character" class="row float-right" (click)="deleteCharacter(user)">
            <mat-icon class="close">close</mat-icon>
        </button>
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <p>{{user.region}}</p>
    </mat-card>
    <div class="row"><mat-spinner *ngIf="!hasLoaded"></mat-spinner></div>
</div>

<div  *ngIf="!hasLoaded" class="row w-100 h-100">
    <mat-spinner class="m-auto"></mat-spinner>
</div>