@import '../../../../assets/styles/variables.less';

:host {
    .header {
        display:flex;
        padding: 10px;
        margin-bottom: 20px;
        border-bottom: solid 1px rgba(0,0,0,0.2);

        .brand {
            width: 30px;
            height: 30px;
            object-fit: contain;
            margin-right: 5px;
        }

        .title {
            font-size: large;
            font-weight: 500;
            margin-top:auto;
            margin-bottom: auto;
        }
    }
}