<div class="header">
    <img class="brand" src="./assets/ui/logo.png" alt="">
    <span class="title">Project Game</span>
</div>
<div class="p-1">
    <button mat-button class="col-12 text-left" (click)="navToPage('/')">
        <mat-icon>home</mat-icon> Home
    </button>
    <button mat-button class="col-12 text-left" (click)="navToPage('game')">
        <mat-icon>videogame_asset</mat-icon> Live Game
    </button>
    <button mat-button class="col-12 text-left" (click)="navToPage('settings')">
        <mat-icon>settings</mat-icon> Settings
    </button>
</div>